---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/?access_token=2126510311.23fb4b6.c52eaa4ebef547b588e4a5be3e3fbb1c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '489'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"username": "edgarduran303", "bio":
        "", "website": "", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg",
        "full_name": "Edgar Duran", "counts": {"media": 7, "followed_by": 88, "follows":
        97}, "id": "2126510311"}}'
  recorded_at: Fri, 19 Feb 2016 01:48:33 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/2126510311/media/recent/?access_token=2126510311.23fb4b6.c52eaa4ebef547b588e4a5be3e3fbb1c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '488'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"attribution":
        null, "tags": ["milehigh"], "type": "image", "location": null, "comments":
        {"count": 0}, "filter": "Normal", "created_time": "1435202706", "link": "https://www.instagram.com/p/4VkKKCBOBL/",
        "likes": {"count": 33}, "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e15/11335176_1675497599350350_1136955419_n.jpg?ig_cache_key=MTAxNDg3NjMxODY4MjM3NDIxOQ%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/11335176_1675497599350350_1136955419_n.jpg?ig_cache_key=MTAxNDg3NjMxODY4MjM3NDIxOQ%3D%3D.2",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e15/11335176_1675497599350350_1136955419_n.jpg?ig_cache_key=MTAxNDg3NjMxODY4MjM3NDIxOQ%3D%3D.2",
        "width": 640, "height": 640}}, "users_in_photo": [], "caption": {"created_time":
        "1435202706", "text": "Sunset after the rain \n#milehigh", "from": {"username":
        "edgarduran303", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg",
        "id": "2126510311", "full_name": "Edgar Duran"}, "id": "1014876326651551886"},
        "user_has_liked": false, "id": "1014876318682374219_2126510311", "user": {"username":
        "edgarduran303", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg",
        "id": "2126510311", "full_name": "Edgar Duran"}}, {"attribution": null, "tags":
        [], "type": "image", "location": null, "comments": {"count": 1}, "filter":
        "Normal", "created_time": "1434924303", "link": "https://www.instagram.com/p/4NRJYrBOMp/",
        "likes": {"count": 8}, "images": {"low_resolution": {"url": "https://scon[...]
