<!DOCTYPE html>
<html>
<body>
    <div>
        <header></header>
        <img class="img-circle col-md-4" src="https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg">
        <h1 class="text-center">Username </h1>
        <h3 class="text-center">Name </h3>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <h4 class="text-center">Posts </h4></div>
            <div class="col-md-2">
                <h4 class="text-center">Followers </h4></div>
            <div class="col-md-2">
                <h4 class="text-center">Following </h4></div>
        </div>
    </div>
    <div></div>
    <div class="jumbotron">
        <h1 class="text-center">Your Posts</h1>
        <p></p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <h1>You made it</h1>

    <h3>User Info</h3>
    <%= @user_info %><br><br>

    <h3>User Images</h3>
    <%= @images %><br><br>
</body>

</html>
